[submodule "application/source/showdown"]
	path = application/source/showdown
	url = git://github.com/coreyti/showdown.git
[submodule "services/dropbox/lib/dropbox-node"]
	path = services/dropbox/lib/dropbox-node
	url = git://github.com/evnm/dropbox-node.git
[submodule "services/dropbox/lib/oauth-node"]
	path = services/dropbox/lib/oauth-node
	url = git://github.com/ciaranj/node-oauth.git
