/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
/*Your CSS here*/

.editor-input {
	background-color: #ffffff;
	padding: 30px;
	margin: 0px;
	font-size: 110%;
	line-height: 1.2em;
}

.editor-input, .markdownHelper {
	font-family: Courier, monospace;
	white-space: pre-wrap;
}

.markdownHelper {
	font-size: 12pt;
}

.output-scroller, .editor-scroller {
	background-color: #ffffff;
}

.editor-scroller.disabled, .editor-scroller.disabled *, .enyo-richtext.enyo-richtext-disabled, .enyo-richtext.enyo-richtext-plaintext.enyo-richtext-disabled {
	background-color: #CACACA;
	color: #333;
}

.fake-toolbar {
	color: #1C1F1F;
}

.HGrabButton {
	position: absolute;
	top: 0px;
	-webkit-transform: rotate(90deg);
}

.HGrabButton.Right {
	left: auto;
	right: 0px;
}

.editor-right, .preview-right {
	background-position: left top;
	background-repeat: repeat-y;
}

.editor-left, .preview-left {
	background-position: right top;
	background-repeat: repeat-y;
}

.editor-right {
	background-image: url(../images/editor-right.jpg);
}

.editor-left {
	background-image: url(../images/editor-left.jpg);
}

.preview-right {
	background-image: url(../images/preview-right.jpg);
}

.preview-left {
	background-image: url(../images/preview-left.jpg);
}

.draghint {
	position: absolute;
	z-index: 1000;
	width: 300px;
	height: 97px;
}

.draghint.disabled {
	display: none;
}


.label {
	font-weight: 100;
	color: rgb(31, 117, 191);
	text-transform: uppercase;
	font-size: 16px;
}

.smallhint {
	opacity: 0.4;
	font-size: 80%;
}

.subtleitem * {
	font-style: italic;
}
