/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
/*Your CSS here*/

.editor-scroller {
	padding-bottom: 54px;
}

.editor-input {
	font-family: Courier, monospace;
	background-color: #ffffff;
	height: 100%;
	display: block;
}

.output-preview {
	background-color: #ffffff;
	height: 100%;
	margin: 0px;
}
