/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
/*Your CSS here*/

.editor-scroller {
	padding-bottom: 54px;
}

.editor-input {
	font-family: Courier, monospace;
	background-color: #ffffff;
	padding: 10px;
	margin: 0px;
}

.output-preview {
	font-family: Georgia, serif;
	padding: 10px;
	margin: 0px;
}

.output-scroller {
	background-color: #ffffff;
}

.fake-toolbar {
	color: #ffffff;
}

.HGrabButton {
	position: absolute;
	top: 5px;
	-webkit-transform: rotate(90deg);
}

.desk-right {
	background-image: url(../images/desk-right.png);
	background-position: left;
	background-repeat: repeat-y;
}

.desk-left {
	background-image: url(../images/desk-left.png);
	background-position: right;
	background-repeat: repeat-y;
}
