/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
/*Your CSS here*/

.editor-scroller {
	padding-bottom: 54px;
}

.editor-input {
	font-family: Courier, monospace;
	background-color: #ffffff;
	padding: 10px;
	margin: 0px;
	white-space: pre-wrap;
}

.output-preview {
	font-family: Georgia, serif;
	padding: 10px;
	margin: 0px;
}

.output-scroller {
	background-color: #ffffff;
}

.fake-toolbar {
	color: #ffffff;
}

.HGrabButton {
	position: absolute;
	top: 3px;
	-webkit-transform: rotate(90deg);
}

.HGrabButton.Right {
	left: auto;
	right: 0px;
}

.desk-right {
	background-image: url(../images/desk-right.png);
	background-position: left;
	background-repeat: repeat-y;
}

.desk-left {
	background-image: url(../images/desk-left.png);
	background-position: right;
	background-repeat: repeat-y;
}

.output-preview blockquote {
	margin: 0px;
	margin-left: 0px;
	padding: 1px;
	padding-left: 10px;
	border-left: 5px solid #CACACA;
	background-color: #DADADA;
}

.output-preview blockquote blockquote {
	border-left: 5px solid #BABABA;
	background-color: #CACACA;
}

.output-preview pre {
	font-family: Courier, monospace;
	font-size: 80%;
	white-space: pre-wrap;
	padding: 10px;
	border-top: 5px solid #DADADA;
	background-color: #EAEAEA;
}
